{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <center>
        <a class="btn btn-success" href="{% url 'create' %}">Додати завдання</a>
        <br><br>
        <h1>Що потрібно зробити:</h1><br>

    </center>
    {% if tasks %}
        {% for element in tasks %}
            <div class="alert alert-warning mt-2">
                <h3>{{ element.title }}</h3>
                <p>{{ element.task }}</p>
                <a href="{% url 'delete' element.id %}" class="btn btn-warning">Завершити</a>

            </div>
        {% endfor %}
    {% else %}
        <p>Ти виконав всі завдання, молодчинка <3 </p>
    {% endif %}

{% endblock %}
